<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Title -->
    <title>To do list</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/unnamed.jpeg">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- StyleCSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <!-- <i class="fas fa-eraser"></i> -->

    <div id="root">
        <!-- Header -->
        <header>
            <img src="img/logo.png" alt="Logo Boolean">
        </header>
        <!-- /Header -->

        <!-- Main -->
        <main>
            <div class="form">
                <label for="new-todo">Inserisci un nuovo ToDo</label>
                <input v-model="newTodo" type="text" name="new-todo" id="new-todo" placeholder="Cosa devi fare ancora?"  @keyup.enter="addNewTodo(newTodo, todoList)">
                <button @click="addNewTodo(newTodo, todoList)">Aggiungi</button>
            </div>

            <ul>
                <!-- Creo la lista todo -->
                <li v-for="(todo, index) in todoList">
                    <!-- Se 'done' è vero, sbarro la scritta -->
                    <span class="text" @click="todoToggle(index)" v-if="todo.done === true" style="text-decoration: line-through">
                        {{ todo.text }}
                    </span>
                    <!-- Altrimenti scrivo cosa devo fare senza sbarrare la scritta -->
                    <span class="text" @click="todoToggle(index)" v-else="todo.done === false">
                        {{ todo.text }}
                    </span>

                    <!-- Elemento che fa sparire un todo al 'click' -->
                    <a @click="removeTodo(index)" href=""><i class="fas fa-eraser"></i></a>
                </li>
            </ul>
        </main>
        <!-- /Main -->
    </div>

    <script src="js/script.js"></script>
</body>
</html>